---
path: edu.md
last_deploy: 2025-01-17 11:42:32.785532700 +00:00
flags:
- live
title: decoded
head: "<em>decoded</em>: pycobytes"
capt:
desc:
index: &1 []
shard: *1
date_display:
---

<script>

import { base } from "$app/paths";

</script>

<svelte:head>
  <title> decoded · pycobytes </title>
</svelte:head>


> [!Note]
> This is part of my [*decoded*](https://github.com/Sup2point0/Assort/blob/origin/~dev/decoded.md) series, a collection of lessons learnt from each major project I’ve undertaken.


<br>


## Learnings

- Front-end development is a little too fun.
- Svelte is awesome.
  - What’s the difference between Svelte and SvelteKit?
- Not everything has to be perfect first try.
  - Flexibility can sometimes be better than perfect planning.
  - So plan *pragmatically* rather than programmatically.
- Sometimes, it pays to have a little faith.
  - That said, leaving stuff until the last minute really isn’t fun.


<br>


## Challenges

- Statically rendering dynamic `/[slug]/` routes was painfully nontrivial.
  - In the end, statically generating every page turned out to be more convenient. And hey, we made a [framework](https://github.com/Sup2point0/stranger-quarkdown) out of it!

<style lang="scss">

@use './src/styles/article' as *;
</style>
