@mixin font-ui {
  font-family: 'Sen', 'Source Sans Pro', 'Segoe UI', system-ui;
  font-weight: normal;
  font-size: 100%;
}

@mixin font-body {
  font-family: 'Readex Pro', 'Source Sans Pro', 'Segoe UI', system-ui;
  font-weight: 300;
  font-size: 100%;
  letter-spacing: 0.015em;
}

@mixin font-head {
  padding: 1em 0 0.1em;
  font-family: 'Gantari', 'Source Sans Pro', 'Segoe UI', system-ui;
  font-weight: 600;
  font-size: 150%;
}

@mixin font-code {
  font-family: 'Fira Mono', 'Consolas', monospace;
  font-weight: normal;
  font-size: 80%;
}
