// [#pyconfig GLOBAL]

/// Global Variables


@use './src/styles/_nova' as *;


// DIMENSIONS //
$nav-height: 3rem;
$nav-part-height: 2.5rem;


// COLOURS //
$col-accent: $blue-nova;
$col-flavour: $yellow-nova;

$light-accent-prot: $blue-nova;
$light-accent-deut: $lilac-nova;

$dark-accent-prot: $blue-cresc;
$dark-accent-deut: $lilac-cresc;

$col-idle: light-dark(
  rgb(252 252 252),
  rgb(0 0 0)
);
$col-hover: light-dark(
  rgb(244 244 244),
  rgb(12 12 12)
);
