/// Global Variables

@use './src/styles/_nova' as *;


$nav-height: 4rem;

// COLOURS //
$col-accent: $blue-nova;
$col-flavour: $yellow-nova;

$light-accent-prot: $blue-nova;
$light-accent-deut: $lilac-nova;

$dark-accent-prot: $blue-cresc;
$dark-accent-deut: $lilac-cresc;
