@use './src/styles/~nova' as *;
@use './src/styles/~variables' as *;
@use './src/styles/~fonts' as *;


p {
  margin: 1.5em 0;
}

h2, h3 {
  border-bottom: 1px solid light-dark($grey-nova, $blue-deep);
}

blockquote:first-child {
  margin: 0 0 3rem;
  padding: 0 0 2rem;
  text-align: center;
  border-left: none;
  border-bottom: 2px solid light-dark($grey-spirit, $blue-deep);

  p {
    margin: 0;
    @include font-flavour;
    font-size: 200%;
    color: light-dark($col-accent, $col-flavour);
  }

  // &:after {
  //   content: '';
  //   width: 60%;
  //   height: 4rem;
  //   position: absolute;
  //   z-index: 1;
  //   bottom: 1rem;
  //   display: block;
  //   background-color: light-dark($grey-swallow, $blue-deep);
  //   transform: translateZ(-1)
  // }
}
