/// Core Styles

@use './src/styles/_nova' as *;
@use './src/styles/_variables' as *;
@use './src/mixins/_fonts' as *;

@use './src/styles/links' as *;


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include font-body;
}

:where(h2,h3,h4) {
  @include font-head;
}

code {
  @include font-mono;
}

// p code {
//   padding: 0.2em 0.4em;
//   margin: 0;
//   white-space: break-spaces;
//   background-color: rgba(175, 184, 193, 0.2);
//   border-radius: 6px;
// }

pre:has(code) {
  padding-left: 1em;
  border-radius: 20px;
}

b, strong {
  font-weight: 600;
}

blockquote {
  padding: 0 1rem;
  color: $grey-nova;
  border-left: 0.25rem solid $grey-nova;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.pyb-flavour {
  &.left { color: $light-accent-prot; }
  &.centre { color: $grey-nova; }
  &.right { color: $light-accent-deut; }
}
