@use './src/styles/mixins/~nova' as *;
@use './src/styles/mixins/~colours' as *;
@use './src/styles/mixins/~fonts' as *;
@use './src/styles/mixins/~anim' as *;

@use './src/styles/flavour' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  @include font-body;
  font-size: 100%;
}

html, body {
  width: 100%;
}


article main h1 {
  display: none;
}

:where(h2,h3,h4) {
  @include font-head;
  color: light-dark($col-deut, $col-prot);
}

code {
  @include font-code;
}

p code {
  padding: 0.2em 0.4em;
  margin: 0;
  white-space: break-spaces;
  background-color: rgb(175 184 193 / 20%);
  border-radius: 0.4em;
}

pre:has(code) {
  padding-left: 1em;
  border-radius: 0.75em;
  box-shadow: 0 0 12px light-dark(
    rgb(black, 0),
    rgb($col-deut, 50%));
}

b, strong {
  font-weight: 600;
}

blockquote {
  margin: 0;
  padding: 0 1rem;
  color: $grey-nova;
  border-left: 2px solid light-dark($grey-spirit, $blue-deep);
}

img {
  max-width: 100%;
  object-fit: contain;
}

hr {
  color: light-dark($grey-nova, $blue-deep);
}


:not(pre code, pre code > *)::selection {
  // color: white !important;
  background-color: rgb($col-prot, 50%) !important;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.caption {
  color: light-dark($grey-nova, $blue-deep);
}

.error {
  color: $red-nova;
}
