/// Flavour Text

@use './src/styles/_nova' as *;
@use './src/styles/_variables' as *;


.pyco-flavour {
  --length: 800%;
  color: transparent;
  background-size: var(--length) 100%;
  background: linear-gradient(to right in oklch,
    $teal-elec,
    $blue-nova,
    $blue-cresc,
    $lilac-nova,
    $pink-elec,
    $red-nova,
    $orange-spirit,
    $yellow-solar,
    $mellow-cresc
  ) 0 0 / var(--length) 100% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;

  animation: anim-flavour 20s infinite alternate ease-in-out;
  animation-delay: -6.9s;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

@keyframes anim-flavour {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

@keyframes anim-popin {
  from {
    background-position-y: 100;
  }
  to {
    background-position-y: 0;
  }
}
