/// Flavour Text

@use './src/styles/_nova' as *;
@use './src/styles/_variables' as *;


// span[class='pyco-flavour'] {
//   --length: 400%;
// }

.pyco-flavour {
  color: transparent;
  background: linear-gradient(to right in oklch,
    $teal-elec,
    $blue-cresc,
    $lilac-nova,
    $pink-elec
  ) 0 0 / var(--length) 100%;
  -webkit-background-clip: text;
  background-clip: text;

  animation: anim-flavour 2s infinite alternate;

  @media (prefers-reduced-motion) {
    animation: none;
  }
  
  --length: 600%;
}

@keyframes anim-flavour {
  to {
    background-position: var(--length) 0;
  }
}
