/// Link Styles

@use './src/styles/_nova' as *;
@use './src/styles/_variables' as *;


$link: ':where(a:not(:has(img), .nav-link))';


#{$link} {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: $pink-elec;
  transition: 0.2s;
}

#{$link}:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: light-dark($col-accent, $col-flavour);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-out;
}

#{$link}:hover {
  color: light-dark($col-accent, $col-flavour);
}
#{$link}:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
