/// Font Mixins


@mixin font-body {
  font-family: 'Source Sans Pro', 'Segoe UI', system-ui;
  font-weight: normal;
  font-size: 100%;
}

@mixin font-head {
  padding: 1em 0 0.1em;
  font-family: 'Overpass', 'Source Sans Pro', 'Segoe UI', system-ui;
  font-weight: bold;
  font-size: 150%;
}

@mixin font-mono {
  font-family: 'Fira Code', 'Roboto Mono', 'Consolas', monospace;
  font-weight: normal;
  font-size: 80%;
}

@mixin font-flavour {
  font-family: 'Overpass', 'Source Sans Pro', 'Segoe UI', system-ui;
  font-weight: normal;
  font-size: 100%;
}

@mixin font-fun {
  font-family: 'Sniglet', 'Overpass', 'Source Sans Pro', 'Segoe UI', system-ui;
  font-weight: normal;
  font-size: 100%;
}
