// COLOURS //
$col-accent: $col-blue-nova;
$col-flavour: $col-pink-elec;

$light-accent-prot: $col-blue-nova;
$light-accent-deut: $col-lilac-nova;

$dark-accent-prot: $col-blue-cresc;
$dark-accent-deut: $col-lilac-cresc;
